.container-button-add {
  width: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 102px;
  background: $colorPurple;
  cursor: pointer;
  @include transitionOutHover;

  button {
    color: $colorWhite;
    font-size: 18px;
  }

}

.container-button-add:hover {
  background-color: $colorPurpleHover;
  @include transitionInHover;
}