.formContainer {
  border-radius: 20px;
  height: 70vh;
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
}

.formContainerTitle {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $colorPurple;
  color: $colorWhite;
  height: 5.6vh;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 24px;
}
