// The boards of the second finance page
#financePage2 {
    div.tableContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tableExpense {
            height: 52vh;
            margin-top: 10vh;
            flex-grow: 1;

            tbody {

                height: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 2.724vh;
                tr {
                    height: 6.356vh;
                    min-height: 56px;
                    border-left: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    th,
                    td {
                        border-bottom: none !important;
                        padding: 0 !important;
                    }

                    .tableExpenseColSpan {
                        display: flex;
                        flex-direction: column;
                        margin: 0 3.28vw 0 0.75vw;

                        :first-child {
                            @include idTitle
                        }

                        :last-child {
                            @include greyText
                        }
                    }

                    .tableExpenseLastCell {
                        flex-grow: 1;
                        text-align: right;
                    }

                    .tableExpenseAmount {
                        text-align: left;
                        flex-grow: 1;
                        @include idTitle
                    }
                }
            }

        }
    }

    div.footer-dashboard-employee {
        padding: 0;
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}