// The boards of the second finance page
#financePage2 {
    div.tableContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tableExpense {
            height: 50vh;
            margin-top: 4vh;
            flex-grow: 1;
            display: flex;  
            flex-direction: column;
            padding: 0 1.5vw;
            tbody {
                height: 50vh;
                display: flex;
                flex-direction: column;
                tr {
                    height: calc(50vh / 6);
                    border-left: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    th,
                    td {
                        border-bottom: none !important;
                        padding: 0 !important;
                    }

                    .tableExpenseColSpan {
                        display: flex;
                        flex-direction: column;
                        margin: 0 3.28vw 0 0.75vw;

                        :first-child {
                            @include idTitle
                        }

                        :last-child {
                            @include greyText
                        }
                    }

                    .tableExpenseLastCell {
                        flex-grow: 1;
                        text-align: right;
                    }

                    .tableExpenseAmount {
                        text-align: left;
                        flex-grow: 1;
                        @include idTitle
                    }
                }
            }

        }
    }

    div.footer-dashboard-employee {
        padding: 1.532vh 2.109vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8.5vh;
    }
}