.roundButtonAdd{
    background-color: $colorPurple;
    color: $colorWhite;
    font-size: 1.45vw;
    font-weight: 500;
    width: 4.903vh;
    height: 4.903vh;
    border-radius: 40px;
    @include transitionOutHover;
}
.roundButtonAdd:hover{
    background-color: $colorPurpleHover;
    @include transitionInHover;
}