.ShortEmployeeListHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2{
        @include littleTitle;
    }
    p{
        @include greyText
    }
}