.buttonSeeMore{
    width: 100%;

    button{
        border-radius: 40px;
        background-color: $colorBackground;
        width: 100%;
        padding: 5% 0;
        color: $colorPurple;
        font-size: 0.94vw;
        font-weight: 600;
        transition: all ease-out .2s;
        @include transitionOutHover
    }
    button:hover{
        background-color: $colorBackgroundHover;
        @include transitionInHover
    }
}