.container-dashboard-employee {
  width: 100%;
  background: $colorWhite;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

tr {
  height: 85px;
}

th,
td {
  border-bottom: 1px solid $colorGrey3;
}

th {
  text-align: start;
  color: $colorText;
  font-size: 16px;
  padding-top: 34px;
  padding-bottom: 26px;
}

.th-name {
  padding-left: 40px;
}

tbody tr:nth-child(odd) {
  border-left: 5px solid $colorPurple;
}

.wrapper-flex-name-avatar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 40px;

  p {
    color: $colorText;
    font-size: 18px;
  }
}

.td-date {
  color: $colorGrey3;
  font-size: 14px;
}

.td-phone {
  color: $colorText;
  font-size: 14px;
}

.td-action {
  .wrapper-type-actions {
    display: flex;
    align-items: center;
    gap: 16px;

    div {
      width: 40px;
      height: 40px;
      background: $colorGrey1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .decrease-img {
        width: 20px;
        height: 20px;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.td-more {
  div {
    width: 40px;
    height: 40px;
    background: $colorGrey1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.footer-dashboard-employee {
  padding: 28px 50px 32px 40px;
  display: flex;
  justify-content: space-between;

  p {
    color: $colorGrey3;
    font-size: 14px;

    span {
      color: $colorText;
    }
  }
}
