.container-dashboard-employee {
  width: 100%;
  height: 60vh;
  background: $colorWhite;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  table {
    width: 100%;
    height: 51.5vh;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;

    thead {
      height: 8.5vh;
      tr {
        height: 100%;
        th {
          text-align: left;
          @include headerTableTitle;
        }
      }
    }

    tbody {
      height: 43vh;
      display: flex;
      flex-direction: column;
      tr {
        height: calc(43vh / 5);
        padding-left: 2.906vw;
        &:nth-child(odd) {
          border-left: 5px solid $colorPurple;
          padding-left: calc(2.906vw - 5px);
        }
      }
    }
  }

  tr {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    td {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .tdAction,
    .thHeaderACtion {
      width: 7.5vw;
      justify-content: space-between;
      column-gap: 0.75vw;
      margin-right: 4.5vw;
    }

    .tdMore,
    th:last-child {
      width: 1.875vw;
      min-width: 40px;
      margin-right: 2.296vw;
      justify-content: center;
      a {
        width: 60px;
      }
    }
    /*Only for manageEmployeeDash*/
    .tdPhone,
    .thHeaderPhone {
      width: 4.687vw;
      margin-right: 6.328vw;
    }
    .tdDate,
    .thHeaderDate {
      width: 7vw;
      margin-right: 4.687vw;
    }
    .tdGrade,
    .thHeaderGrade {
      width: 12vw;
    }
    .tdName,
    .thHeaderName {
      flex-grow: 2;
    }
    .thFirstHeader {
      margin-left: 2.906vw;
    }

    /*End of only for manaEmployeeDash*/
  }

  .footer-dashboard-employee {
    padding: 1.532vh 2.109vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh;
  }
}

.footer-info-employee {
  color: $colorGrey3;
  font-size: 0.7vw;

  span {
    color: $colorText;
  }
}

.MuiPagination-ul li:first-child button, .MuiPagination-ul li:last-child button{
  border: none;
  background-color: transparent;
  margin: 0!important;
  &:hover{
    background-color: transparent;
    color: $colorGrey3Darken;
  }
}

.MuiPagination-root .MuiButtonBase-root {
  background: white;
  color: $colorGrey3;
  min-width: 3.500vh!important;
  width: 3.500vh!important;
  height: 3.500vh!important;
  border-radius: 50%;
  border: 2px solid $colorGrey3;
  font-size: 12px;
  @include transitionOutHover;
}

.MuiPagination-root .MuiButtonBase-root:hover {
  background: none;
  background-color: $colorBackgroundHover;
  color: $colorGrey3Darken;
  @include transitionInHover;
}

.MuiPagination-root .MuiButtonBase-root:active {
  background: none;
  @include transitionInHover;
}

.MuiPagination-root .MuiButtonBase-root.Mui-selected {
  background: #4d44b5;
  color: white;
  border: none;
}

.MuiPagination-root .MuiButtonBase-root.Mui-selected:hover {
  background: #4d44b5;
}







  //   @include transitionOutHover;

  // .left-arrow {
  //   margin-right: 16px;
  // }

  // .right-arrow {
  //   margin-left: 16px;
  // }

  // .left-arrow path:hover, .right-arrow path:hover{
  //   fill: $colorGrey3Darken;
  //   @include transitionInHover;
  // }

  // .pagination {
  //   display: flex;
  //   align-items: center;
  //   gap: 16px;

  //   li {
  //     width: 50px;
  //     height: 50px;
  //     color: $colorGrey3;
  //     border-radius: 50%;
  //     box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;
  //     border: 2px solid $colorGrey3;
  //     transition: all 0.2s ease-in-out;
      
  //   }
  //   li:hover{
  //     @include transitionInHover;
  //     border-color: $colorPurpleLight;
  //     color: $colorPurple;
  //   }

  //   li.active {
  //     background: $colorPurple;
  //     color: $colorWhite;
  //     border: none;
  //   }
  // }

