.mainContainerEmployeeHome{
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  height: 100%;
  .container-search-add {
    display: flex;
    justify-content: space-between;
    height: 6vh;
  }
}

