//Main container for the charts
.dashboardCharts {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 480px;
    padding: 25px;
    padding-top: 60px;
    background-color: $colorWhite;
    border-radius: 20px;
    max-width: 1030px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    h2 {
        position: absolute;
        top: 22px;
        left: 30px;
        @include littleTitle;
    }

    h4{
        position: absolute;
        right: 60px;
        top: 26px;
        font-size: 0.7rem;
        color: $colorGrey3;
        font-weight: lighter;
        width: 140px;
    }

    //Apexcharts CSS
    .apexcharts-canvas {
        position: relative;
    }

    .apexcharts-legend {
        position: absolute;
        top: -27px !important;
        right: 30px !important;

        div {
            width: auto;
            padding-right: 10px;
            position: relative;
        }
    }


    .apexcharts-tooltip {

        display: flex !important;
        flex-direction: row !important;
        top: -35px !important;
        left: auto !important;
        right: -20px;
        opacity: 1 !important;
        width: auto;
        height: auto;
        border: none !important;
        box-shadow: none !important;
        padding-left: 20px;

        div,
        span {
            margin: 0 !important;
            padding: 0 !important;
        }

        >div {
            position: relative;
            width: 115px;
            

            //The tooltips marker
            span.apexcharts-tooltip-marker {
                position: absolute;
                top: 6.5px;
                left: -17px;
                border: 3px solid;
                background-color: transparent!important;

            }



            div {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

        }
        //Color for the marker of the first line
        >div:nth-child(1)>span{
            border-color: #FCC43E;
        }
        
        //Color for the marker of the second line
        >div:nth-child(2)>span{
            border-color: #FB7D5B;
        }

    }

    //The marker of the seriess
    .apexcharts-series-markers circle {
        fill: white;
        stroke-width: 4px;
        stroke: #FCC43E;
    }

    #SvgjsG1153 circle {
        fill: white;
        stroke-width: 4px;
        stroke: #FB7D5B;
    }


}