@mixin greyText{
    font-size: 14px;
    color: $colorGrey3;
}

@mixin headerTableTitle{
    font-size: 14px;
    color: $colorText;
    font-weight: 600;
    line-height: 21px;
}

@mixin greyTitle{
    font-size: 18px;
    color: $colorGrey3;
    font-weight: 400;
}

@mixin littleTitle{
    font-size: 24px;
    color: $colorText;
}

// @mixin titleImprovement{
//     font-size: 24px;
// }

@mixin datasTitle{
    font-size: 36px;
    font-weight: 700;
    color: $colorText;
}

@mixin idTitle{
    font-size: 18px;
    font-weight: 600;
    color: $colorCheckbox;
}

@mixin transitionInHover{
    transition: all ease-in .2s;
}

@mixin transitionOutHover{
    transition: all ease-out .2s;
}