* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;

  font-family: Poppins, sans-serif;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(53, 53, 53, 0.4)!important;
  backdrop-filter: blur(5px)!important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#root {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f3f4ff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}

.main {
  padding: 40px 2.34vw;
  width: 73.829vw;
  // max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}
