@import "./fonts";
@import "./settings";
@import "./keyframes";
@import "./variables";

@import "../components/Sidebar/sidebar";
@import "../components/Header/header";
@import "../components/SearchBar/searchbar";
@import "../pages/Login/login/";
@import "../pages/Home/home";
@import "../pages/Employees/employees";
@import "../pages/Ranks/ranks";
@import "../pages/Finance/finance";
@import "../pages/Improvements/improvements";
@import "../pages/Activities/activities";
@import "../components/RanksHome/ranksHome";
@import "../components/RanksAdd/ranksAdd";
@import "../components/FormatIcon/formatIcon";
@import "../components/DashboardInfos/dashboardInfos";
@import "../components/ButtonAdd/buttonadd";
@import "../components/Details/details";
@import "../components/PaginationEmployee/paginationEmployee";
@import "../components/ManageEmployeeDash/manageEmployeeDash";
@import "../components/ManageEmployeeDash/profilsEmployee";
