//class for the home dashboard container 
.mainDashboard main{
    width: 69.04vw;
    height: 78.43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 2.062vw;
    >section{
        display: flex;
        flex-direction: column;
        width: 48.56vw;
        height: 78.43vh;
        row-gap:4.5vh;
    }
    aside{
        width: 30%;
        width: 18.51vw;
    }
}
