.buttonActions {
  height: 1.875vw;
  width: 1.875vw;
  background-color: $colorBackgroundButtonAction;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after {
    content: attr(data-content);
    min-width: 150px;
    width: auto;
    color: $colorWhite;
    font-size: 0.7vw;
    font-weight: 400;
    padding: 0.681vh 2vw;
    height: 4.54vh;
    background-color: $colorPurple;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(-80% - 20px);
    display: none;
    border-radius: 10px;
    z-index: 99;
  }
  &:before {
    content: "";
    width: 10px;
    height: 20px;
    position: absolute;
    display: none;
    top: calc(-80%);
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 35px solid $colorPurple;
  }
  &:hover::after,
  &:hover::before {
    display: block;
  }
  &:hover::after {
    display: flex;
  }
}

.inactive {
  img {
    filter: opacity(0.2);
  }
  &:hover {
    cursor: not-allowed;
  }
  &:hover::after,
  &:hover::before {
    display: none;
  }
}
