.wrapper-flex-name-avatar {
  display: flex;
  align-items: center;
  gap: 16px;

  div {
    width: 4.903vh;
    height: 4.903vh;

    img {
      width: 100%;
    }
  }

  p {
    color: $colorText;
    font-size: 0.94vw;
  }
}

.tdGrade {
  p {
    display: flex;
    height: 4.086vh;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 24px;
    border-radius: 40px;
    color: $colorWhite;
    // no wrap
    white-space: nowrap;
  }
}

.tdDate {
  color: $colorGrey3;
font-size: 0.7vw;

}

.tdPhone {
  color: $colorText;
  font-size: 0.7vw;
}

.tdAction {
  .wrapper-type-actions {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 2.451vh;
      height: 2.451vh;
    }
  }
}

.tdMore {
  div {
    width: 4.086vh;
    height: 4.086vh;
    background: $colorBackgroundButtonAction;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 2.451vh;
      height: 2.451vh;
    }
  }
}
