@import "../../../styles/variables";

.wrapperNameRank {
  padding-top: 24px;
  padding-bottom: 40px;

  p {
    color: $colorText;
    font-size: 1.5vw;
  }

  span {
    color: $colorGrey3;
    font-size: 0.94vw;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;

  div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: $colorText;
    font-size: 0.94vw;

    div {
      width: 4.086vh;
      height: 4.086vh;
      background: #fb7d5b;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 2.451vh;
        height: 2.451vh;
      }
    }
  }
}

.informations {
  p:nth-child(1) {
    color: $colorText;
    font-size: 1.25vw;
    padding-bottom: 16px;
  }

  p:nth-child(2) {
    color: $colorText;
    font-size: 0.94vw;
  }
}
