@import "../../../styles/variables";

.wrapperAvatar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4.5vh;
  .avatar {
    position: relative;
    width: 20.431vh;
    height: 20.431vh;
    
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border: 1.028vh solid $colorWhite;
      border-radius: 50%;
      bottom: 0;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.634vh;
  margin-bottom: 1.028vh;

  div {
    width: 4.086vh;
    height: 4.086vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 2.451vh;
      height: 2.451vh;
    }
  }
}

