.detailsForm {
  display: grid;
  height: calc(100% - 55px);
  grid-template-rows: 22% 22% 25% 1fr;
  grid-template-columns: repeat(4, 19.7%);
  color: $colorText;
  padding: 3% 7% 6% 7%;
  gap: 7%;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.input {
  max-width: 577px;
  height: 48px;
  padding-left: 14px;
  border-radius: 5px;
  border: 1px solid $colorGrey2;
  font-size: 14px;
}

.input:focus-visible:valid {
  outline-color: $colorGrey2;
}

.input:focus-visible:invalid {
  outline-color: $colorRed;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  gap: 1rem;
}

.gradeNameWrapper {
  // grid-row-start: 1;
  // grid-row-end: 2;
  // grid-column-start: 1;
  // grid-column-end: 3;
  grid-area: 1 / 1 / 2 / 3;
}

.gradeLabelWrapper {
  grid-area: 1 / 3 / 2 / 5;
}

.checkboxGroupWrapper {
  grid-area: 2 / 1 / 4 / 3;
  height: 100%;
  justify-content: flex-start;
}

.checkboxGroup {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 59% 39%;
  height: 85%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  gap: 2%;
  padding: 2%;
}

.salaryWrapper {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: flex-start;
  height: 80%;
}

.colorWrapper {
  grid-area: 3 / 3 / 4 / 5;
  justify-content: flex-start;
}

.inputColorWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: $colorGrey3;
}

.inputColor {
  width: 4.5rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  // supprimer le contour bleu

  outline: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.inputColor::-webkit-color-swatch-wrapper {
  padding: 0;
}
.inputColor::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.buttonFormWrapper {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  // disposez en bas a droite de son container
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.errorRanksForm {
  position: absolute;
  bottom: 0;
  font-size: 0.875rem;
  color: $colorRed;
}
