header {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.title-sections {
  font-size: 1.9vw;
  color: $colorText;
}

.container-disconnect-profil {
  display: flex;
  align-items: center;
  gap: 35px;

  .disconnect-img {
    background: $colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.129vh;
    height: 6.129vh;
    border-radius: 50%;
    box-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
    cursor: pointer;
    svg{
      width: 3.269vh;
      height: 3.269vh;
    }
    path{
      fill: $colorGrey3;
      @include transitionOutHover;
    }
    &:hover path{
      @include transitionInHover;
      fill: $colorRed;
    }
  }
}

.container-info-profil {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 0.7vw;


  p {
    color: $colorText;
  }

  span {
    color: $colorGrey3;
  }

  .name-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .profil-img {
    width: 6.129vh;
    height: 6.129vh;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
