// The boards of the second finance page
#financePage2 {
    div.tableContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(70vh - 6vh);
        .tableGain {
            height: 50vh;
            margin-top: 4vh;
            flex-grow: 1;
            display: flex;  
            flex-direction: column;
            justify-content: center;
            padding: 0 1.5vw;
            tbody{
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                tr {
                    border-left: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 10vh;
    
                    th,
                    td {
                        border-bottom: none !important;
                        padding: 0!important;
                    }
                    .avatar{
                        border-radius: 50%;
                        height: 4.903vh;
                        width: 4.903vh;
                    }
                    .tableGainName{
                        @include idTitle;
                        flex-grow:2;
                        margin-left: 1.12vw;
    
                    }
                    .tableGainRank{
                        display: flex;
                        column-gap: 0.75vw;
                        width: 12vw;

                        p:nth-child(2){
                            position: relative;
                            @include idTitle
                        }
                    }
                    .tableGainGain{
                        @include idTitle;
                        width: 7.03vw;
                        text-align: right;
                    }
                }

            }
            
        }
    }

    div.footer-dashboard-employee {
        padding: 1.532vh 2.109vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8.5vh;
    }
}