.sidebar {
  background: $colorPurple;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 5%;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: $titleSize;
  color: $colorWhite;
  gap: 1rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: $subTitleSize;
  // gap: 8px;
  height: 69%;
}

.sidebarLink {
  display: flex;
  align-items: center;
  height: 13%;
  width: 86%;
  color: $colorGrey2;
  border-radius: 40px 0 0 40px;
  padding-left: 6.9%;
  gap: 6.9%;
}

.active {
  transition: all 0.3s ease-in-out;
  background-color: $colorBackground;
  color: $colorPurple;
}

.buttonClose {
  font-weight: 600;
  font-size: 18px;
  &:hover {
    color: $colorWhite;
    background: $colorRed;
    .powerOff {
      fill: $colorWhite;
    }
  }
}

.sidebarFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorWhite;
  font-size: 14px;
  gap: 13px;
}
