.sidebar {
  width: 345px;
  background: $colorPurple;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  font-family: Poppins, sans-serif;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  color: $colorWhite;
  gap: 1rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  width: 299px;
  color: $colorGrey2;
  border-radius: 40px 0 0 40px;
}

.active {
  background-color: $colorBackground;
  color: $colorPurple;
}
