.sidebar {
  width: 345px;
  background: $colorPurple;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  color: $colorWhite;
  gap: 1rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  gap: 8px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 299px;
  color: $colorGrey2;
  border-radius: 40px 0 0 40px;
  padding-left: 24px;
  gap: 24px;
}

.active {
  transition: all 0.3s ease-in-out;
  background-color: $colorBackground;
  color: $colorPurple;
}

.buttonClose {
  font-weight: 600;
  font-size: 18px;
  &:hover {
    color: $colorPurple;
    background: $colorRed;
    .powerOff {
      color: $colorPurple;
    }
  }
}

.sidebarFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorWhite;
  font-size: 14px;
  gap: 13px;
}
