@import "../../../styles/variables";
@import "../../../styles/mixins";

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  // row-gap: 25px;
  height: 51.12vh;

  &>div{
    position: relative;
    span{
      height: 24px;
      display: block;
      margin-top: 5px;
    }
  }

  label {
    color: $colorText;
    padding-bottom: 15px;
    // font-size: 18px;
    font-size: 0.94vw;

  }
  
  input {
    width: 100%;
    border: 1px solid $colorGrey2;
    border-radius: 5px;
    height: 4.903vh;
    padding-left: 15px;
    outline: none;
  }
}

.wrapperDateBorn {
  display: flex;
  gap: 10%;

  input {
    width: 45%;
  }
}

textarea {
  width: 100%;
  height: 9vh;
  border: 1px solid $colorGrey2;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 15px 14px;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $colorGrey2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $colorPurple;
    border-radius: 10px;
  }
}

.wrapperButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5vh;
  width: 100%;
  button{
  width: 6.25vw;
  font-size: 0.94vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.685vh 1.125vw;
  }
  button:nth-child(1) {
    margin-right: 40px;
  }
}

.wrapperErrorsBirthPlace {
  display: flex;
  justify-content: space-between;
}

.errors {
  @include errorMessage;
  bottom: -12px;
  
}

.select {
  position: relative;
  
  input {
    color: $colorGrey3;
    cursor: pointer;
    &::selection {
      background: none;
    }
  }
}

.options {
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid $colorGrey2;
  color: $colorGrey3;
  visibility: hidden;
  max-height: 142px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $colorGrey2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $colorPurple;
    border-radius: 10px;
  }
  
  &.active {
    visibility: visible;
    ~ .triangle {
      transform: rotate(180deg);
    }
  }
}

.options .option {
  cursor: pointer;
  padding: 5px 15px;
  &:hover {
    background: $colorPurple10PerCent;
  }
}

.triangle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border-top: 10px solid $colorGrey3;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: transform 0.3s ease;
}
