.financePages {
    height: 78vh;
    display: flex;
    flex-direction: column;

    article {
        background-color: $colorWhite;
        border-radius: 20px;
        padding: 20px;
        display: flex;
    }
}

//First Page
div#financePage1 {
    height: 78vh;
    row-gap: 4.540vh;
    section:first-child {
        display: flex;
        justify-content: space-between;
        column-gap: 1.87vw;
        >:last-child {
            width: 31.64vw;
        }
        article {
            width: 16.97vw;
            height: 19.5vh;
        }
    }

    section:nth-child(2) {
        height: 53.96vh;
    }
}


//Second Page
div#financePage2 {
    height:78vh;
    >section {
        display: flex;
        flex-direction: row;
        column-gap: 2.08vw;
        article{
            height: 78vh;
            div.formatIcon{
                height: 56px;
                width: 56px;
                img{
                    width: 24px;
                    height: 16px;
                }
            }
        }
        >:first-child {
            width: 39.70vw;
        }
        >:nth-child(2) {
            width: 27.56vw;
        }
    }
}


/* Global */
div::-webkit-scrollbar {
    width: 8px;
    background-color: $colorPurple10PerCent;
    border-radius: 8px;
}

/* Ascenseur */
div::-webkit-scrollbar-thumb {
    background: $colorGrey2;
    border-radius: 8px;
}