.shortEmployeeList {
  padding: 10% 0;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //Container for one employee
  > div {
    display: flex;
    justify-content: space-between;
    height: 20%;
    //Titles
    > :nth-child(2) {
      flex-grow: 1;
      // font-size: 14px;
      font-size: 0.7vw;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      //Name title
      :first-child {
        color: $colorText;
        font-weight: 600;
      }
      //Grade title
      :nth-child(2) {
        color: $colorGrey3;
        font-weight: 400;
        flex-grow: 1;
      }
    }
  }
}
