@import "../../styles/variables";

.container {
  position: relative;
  width: 70%;
  height: calc(947px - 180px);
  background: $colorWhite;
  border-radius: 20px;
}

.body {
  padding: 32px 42px 62px 32px;
}
