@import "../../styles/variables";

.container {
  position: relative;
  height: calc(947px - 180px);
  display: flex;
  justify-content: space-between;
}

.test {
  width: 70%;
  background: $colorWhite;
  border-radius: 20px;
}

.t {
  width: 25%;
  height: 100%;
}

.body {
  padding: 32px 42px 62px 32px;
}
