@import "../../styles/variables";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(947px - 180px);
  border-radius: 20px;
}

.firstContainer {
  width: 70%;
  background: $colorWhite;
  border-radius: 20px;
}

.info {
  padding: 32px 42px 62px 32px;
  background: $colorWhite;
}

.showEmployee {
  width: 25%;
  height: 100%;
}
