.containerDashBoardRanks {
  font-size: 0.7vw;
  .thNameGrade, .thHeaderNameGrade{
    width: 16.406vw;
  }
  .tdPermission, .thHeaderPermission{
    flex-grow: 1;
    width: 1px;
  }
  .tdSalary, .thHeaderSalary{
    width: 4.687vw;
    margin-right: 6vw;
  }

  .tdAction div button:last-child img{
    width: 18px;
    height: 18px;
  }
}


